<div>
  <!-- <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> -->

  <!-- Working version of https://dribbble.com/shots/14552329--Exploration-Task-Management-Dashboard -->
  <div class='app'>
    <main class='project'>
      <div class='project-info'>
        <h1>Homepage Design</h1>
        <div class='project-participants'>
          <button class='project-participants__add'>Add Participant</button>
        </div>
      </div>
      <div class='project-tasks'>

        <div class="project-column">
          <h2>To do</h2>
          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[inProgressList, doneList]" class="example-list"
            (cdkDropListDropped)="taskDrop($event)">

            <div class='task' *ngFor="let item of todo" cdkDrag cdkDropList (cdkDropListDropped)="tagDrop($event)">
              <div class='task__tags'>
                <span class='task__tag task__tag--design'>UI Design</span>
                <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
              </div>
              <p>{{item}}</p>
              <div class='task__stats'>
                <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                <span><i class="fas fa-comment"></i>2</span>
                <span><i class="fas fa-paperclip"></i>5</span>
                <span class='task__owner'></span>
              </div>
            </div>

          </div>
        </div>


        <div class='project-column'>
          <h2>In Progress</h2>

          <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList]" class="example-list"
            (cdkDropListDropped)="taskDrop($event)">

            <div class='task' *ngFor="let item of inProgress" cdkDrag>
              <div class='task__tags'><span class='task__tag task__tag--design'>UI Design</span><button
                  class='task__options'><i class="fas fa-ellipsis-h"></i></button></div>
              <p>{{item}}</p>
              <div class='task__stats'>
                <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                <span><i class="fas fa-comment"></i>2</span>
                <span><i class="fas fa-paperclip"></i>5</span>
                <span class='task__owner'></span>
              </div>
            </div>
          </div>
        </div>


        <div class='project-column'>
          <h2>Done</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, inProgressList]" class="example-list"
            (cdkDropListDropped)="taskDrop($event)">

            <div class='task' *ngFor="let item of done" cdkDrag>
              <div class='task__tags'><span class='task__tag task__tag--design'>UI Design</span><button
                  class='task__options'><i class="fas fa-ellipsis-h"></i></button></div>
              <p>{{item}}</p>
              <div class='task__stats'>
                <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                <span><i class="fas fa-comment"></i>2</span>
                <span><i class="fas fa-paperclip"></i>5</span>
                <span class='task__owner'></span>
              </div>
            </div>
          </div>
        </div>

        <div class="project-column">
          <h2><span>&nbsp;</span></h2>
          <div class='task' style=" border:3px dashed; border-width: thin; background-color:rgba(189, 180, 180, 0.1);">
            <p>+ Add column</p>
          </div>
        </div>


      </div>
    </main>
    <aside class='task-details'>
      <div class='tag-progress'>
        <h2><b>Project Progress - 30%</b></h2>
        <div class='tag-progress columns'>
          <progress class="progress progress--copyright is-7" max="8" value="3">111</progress>
        </div>
      </div>

      <div class='tag-progress'>
        <h2><b>Tags</b> (drag on ticket)</h2>
        <div>
          <input class="input is-small" type="text" placeholder="Add new tag.." style="margin-bottom: 16px;">

          <mat-chip-list class="example-chip" cdkDropList (cdkDropListDropped)="taskDrop($event)">
            <mat-chip class="example-box" cdkDrag *ngFor="let tag of tags">
              {{tag}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class='tag-progress'>
        <h2><b>Notes</b></h2>
        <div>
          <textarea class="textarea is-small" placeholder="e.g. You can add some notes here"></textarea>
        </div>
      </div>

    </aside>
  </div>
  <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
</div>