<div class="center">
    <input [(ngModel)]='caption' class="input" type="text" placeholder="Caption" style="margin-bottom: 5px;">
    <form>
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>Priority</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="priority">
            <mat-option *ngFor="let priority of utilsService.priorities" [value]="priority.value">
              <div>{{utilsService.priorityColors[0]}}</div>
              {{priority.viewValue}}

              <!-- <div style="width: 100%;" *ngFor="let color of utilsService.priorityColors | keyvalue">
                <span class="priority" [style.background-color]="color.key" style="margin-right: 5px;"></span>
                <span>{{color.value}}</span>
              </div> -->

            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>

    <quill-editor id="editor" [styles]="editorStyle" [modules]="quillConfiguration" [(ngModel)]="editorText"
        (onContentChanged)="onContentChanged($event)" required></quill-editor>

    <div style="margin-top: 20px;">
        <button mat-raised-button (click)="updateEvent()" style="margin-right: 10px;">Update</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</div>