<!-- <div class="position:fixed; top:0px; left:0px; bottom:0px; right:0px; background: red;">

    <div class="column is-half is-offset-one-quarter ">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Project List</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> <button mat-stroked-button color="primary">Load</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div> -->

<!-- <div class="main-menu open">
  <div class="main-menu-form">
  </div>
  <div class="main-menu-content">

    <ul class="main-menu-nav">
      <button class="button is-info is-inverted"  (click)="newProject()">{{ 'PAGES.HOME.NEW' | translate }}</button>
      <button class="button is-info is-inverted"  (click)="loadProject()">{{ 'PAGES.HOME.LOAD' | translate }}</button>

    </ul>
  </div>
</div>


<div class="main-content">
  <div class="posts">
    
    <div class="notification is-info is-light">
      This software was created to help software tinkers, solopreneurs and other developers trying to
      reach new horizons! <strong>Projscope</strong>, is free to use in both commercial and private projects and it is
      constantly improving.
      <ul>
        <li>Website: <a href="projscope.com">projscope.com</a></li>
        <li>Ver: <i>0.0.1</i></li>
      </ul>
      Please let us know what you think or would like to report bugs <a href="mailto:support@projscope.com">here</a>
    </div>
  </div>
</div> -->

<!-- 
<div class="empty">
  <div class="container">
    <div class="notification is-primary">
      This container is <strong>centered</strong> on desktop and larger viewports.
    </div>
  </div>
</div> -->



<section class="centerall">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <figure style="display: flex; justify-content: space-between;">
          <a routerLink="." class="btn" (click)="newProject()" tabindex="-1">
            <i class="fa fa-file"></i>
          </a>
          <a routerLink="." class="btn" (click)="loadProject()" tabindex="-1">
            <i class="fa fa-folder-open"></i>
          </a>
          <a routerLink="." class="btn">
            <i class="fa fa-power-off" (click)="exitProject()" tabindex="-1"></i>
          </a>
        </figure>

        <!--<br/>
        <br/>

         <article class="message is-dark">
          <div class="message-body columns">
            <div class="column">
              <img src="../../assets/icons/favicon.192x192.png" />
            </div>
            <div class="column">
              <span><strong>Website:</strong> www.projscope.com</span>
              <span><strong>Support:</strong> support@projscope.com</span>
              <span><strong>Version:</strong> 1.0</span>
            </div>
          </div>
        </article> -->

      </div>
    </div>
  </div>
</section>
