table {
  width: 100%;
}

tr td:first-child {
  width: 80%;
}

tr td:last-child {
  width: 20%;
  text-align: center;
}

th:last-child {
  text-align: center;
}

td.mat-cell {
  border-bottom-style: none;
}

.mat-elevation-z8 {
  box-shadow: none;
}

tr.mat-header-row {
  height: 30px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: none;
}