<div class="center">
    <article class="">
        <div class="">
        <img src="assets/icons/favicon.192x192.png" />
          <br />
          <span><strong>Website:</strong> www.projscope.com</span>
          <br />
          <span><strong>Support:</strong> support@projscope.com</span>
          <br />
          <span><strong>Version:</strong> 1.0.0</span>
        </div>
        <div style="margin-top: 20px;">
            <button mat-raised-button (click)="cancel()">OK</button>
        </div>
      </article>
</div>