<div>
  <!-- <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1> -->

  <!-- Working version of https://dribbble.com/shots/14552329--Exploration-Task-Management-Dashboard -->
  <div class='app'>
    <main class='project'>
      <div class='project-info'>
        <h1>{{project.name}}</h1>
        <div class='project-participants'>
          <button class='project-participants__add' (click)="createTicket()">Add Participant</button>
        </div>
      </div>

      <div class='project-tasks'>
        <div class="project-column" *ngFor="let status of project.avialableStatuses">
          <h2>{{ status.name }}</h2>
          <div cdkDropList class="example-list" [attr.id]="'cdk-drop-list-' + status.id"
            [cdkDropListData]="sectionsTickets['cdk-drop-list-' + status.id]" [cdkDropListConnectedTo]="sectiondIds"
            (cdkDropListDropped)="taskDrop($event)" style="min-height: 100px; background-color: cornflowerblue;">

            <div class='task' *ngFor="let ticket of sectionsTickets['cdk-drop-list-' + status.id]" cdkDrag cdkDropList
              (cdkDropListDropped)="tagDrop($event)">
              <div class='task__tags'>
                <span></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="viewTicket(ticket)">
                    <i class="far fa-clipboard"></i>
                    <span> Details</span>
                  </button>
                  <button mat-menu-item (click)="deleteTicket(ticket.id)">
                    <i class="far fa-trash-alt"></i>
                    <span> Delete</span>
                  </button>
                </mat-menu>
              </div>
              <p>{{ticket.title}}</p>
              <div class='task__stats'>
                <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
                <span><i class="fas fa-comment"></i>2</span>
                <span><i class="fas fa-paperclip"></i>5</span>
                <span class='task__owner'></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <aside class='task-details'>
      <div class='tag-progress'>
        <h2><b>Project Progress - 30%</b></h2>
        <div class='tag-progress columns'>
          <progress class="progress progress--copyright is-7" max="8" value="3">111</progress>
        </div>
      </div>

      <div class='tag-progress'>
        <h2><b>Tags</b> (drag on ticket)</h2>
        <div>
          <input class="input is-small" type="text" placeholder="Add new tag.." style="margin-bottom: 16px;">

          <mat-chip-list class="example-chip" cdkDropList (cdkDropListDropped)="taskDrop($event)">
            <mat-chip class="example-box" cdkDrag *ngFor="let tag of tags">
              {{tag.name}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class='tag-progress'>
        <h2><b>Notes</b></h2>
        <div>
          <textarea class="textarea is-small" placeholder="e.g. You can add some notes here"></textarea>
        </div>
      </div>

    </aside>
  </div>
  <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
</div>